#!/usr/bin/env bash

# install base packages
{{ if eq .chezmoi.os "darwin" }}
if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    (echo; echo 'eval "$(/opt/homebrew/bin/brew shellenv)"') >> /Users/kpj/.zprofile
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "languagetool"
brew "zsh"
brew "powerlevel10k"
brew "pyenv"
brew "diff-so-fancy"
brew "tig"
brew "git-extras"
brew "tmux"
brew "pyenv"
brew "ripgrep"
brew "ripgrep-all"
brew "tree"
brew "wget"

cask "caffeine"
cask "iterm2"
cask "visual-studio-code"
cask "google-chrome"
cask "rectangle"
cask "whatsapp"
cask "discord"
cask "signal"
cask "godot"
cask "mactex"
cask "vlc"
cask "syncthing"
cask "r"
cask "rstudio"
EOF

# install powerlevel10k
echo "source $(brew --prefix)/share/powerlevel10k/powerlevel10k.zsh-theme" >>~/.zshrc
{{ end }}

# enable zsh and omz
{{- if eq .chezmoi.os "darwin" -}}
chsh -s $(which zsh) || true # returns 1
{{ if eq .chezmoi.os "darwin" -}}
ZSH=$HOME/.oh-my-zsh
{{ else -}}
ZSH=/usr/share/oh-my-zsh/
{{ end -}}
rm -rf "$ZSH"
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
{{ end }}

# vim plugins
rm -rf ~/.vim/bundle/Vundle.vim
git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
vim +PluginInstall +qall

# python
pyenv install 3.12.2
pyenv global 3.12.2
